body {
	background-color: #e4bd32;
	width: 100%;
	margin: 0;
	padding: 0;
}

main {
	text-align: center;
	font-family: 'Lora', serif;
	padding-top: 5px;
  	font-size: 14px;
	position: absolute;
	top: -5px;
	z-index: 50;
	width: 100%;
}

.row {
	border-bottom: 2px solid black;
	width: 100%;
}

main > .first {
	text-align: center;
	min-height: 200px;
	background-color: #8ABFD0;
	color: white;
}

main img {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 750px;
	padding-top: 20px;
	padding-bottom: 20px;
}

main > .textrow {
	text-align: justify;
}

.groot {
	padding-right: 50px;
	font-family: 'Slabo 27px', serif;
	font-style: bold;
	font-size: 20px;
	font-size: 10vw;
	color: white;
	text-shadow: -2px 2px #d39d17;
}

.second {
	top: -30px;
	position: relative;
	font-size: 16px;
}


/* Non-mobile, grid */
  @media only screen and (min-width: 600px) {
	main > .first {
		text-align: right;
		min-height: 200px;
		background-image: url("images/GoatBackground.png");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left bottom;
		color: white;
	}

	main img {
		position: relative;
		width: 50%;
		height: 100%;
		max-width: 750px;
		padding-top: 20px;
		padding-bottom: 20px;
		right: 3%;
	}

	.groot {
		font-size: 60px;
	}
	.second {
		font-size: 20px;
	}
  }
